.headWrapper {
    justify-content: center;
    padding-bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: #b9b9b900;
    backdrop-filter: blur(7px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    max-width: 1200px;
    margin: auto;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu ul li {
    text-decoration: none;
    list-style: none;
    padding: 25px;
    font-size: 21px;
    cursor: pointer;
    color: white;
    transition: 0.5s ease-in-out;
}

.menu ul li:hover {
    text-decoration: none;
    transform: rotate3d('20deg');
    color: rgb(255, 0, 0);
}

.menu ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
}

.menu ul li a:hover {
    text-decoration: none;
    transform: rotate3d('20deg');
    color: rgb(255, 0, 0);
}

.navToggler {
    display: none;
}

@media screen and (max-width : 768px) {
    .headWrapper {
        background-color: #b9b9b900;
         align-items: center;
        display: flex;
        
    }

    .header {
        width: 100%;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
        border: none;
    }

    .logo {
        font-size: 24px;
        color: azure;
    }

    .navToggler {
        display: block;
        cursor: pointer;
        /* transition: 0.4s; */
    }

    .navToggler div {
        width: 2.2rem;
        height: 0.1rem;
        margin: 0.5rem;
        background-color: white;
        transition: 0.5s;
    }

    .menu {
        position: fixed;
        right: 0px;
        width: 100%;
        height: 100vh;
        background-color: #000000;
        z-index: -10;
        transform: translatey(-100%);
        transition: 0.5s;
    }

    .menu ul {
        flex-direction: column;
    }

    /* .menu ul li {
        margin-top: 30px;
    } */


    .menuActive {
        top: 70px;
        transform: translateX(0);
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        backdrop-filter: blur(7px);
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-10px, 7px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -4px);
    }

}