.footer {
	font-family: 'Poppins', sans-serif;
	background-color: #1f1f1f;
	padding: 30px 0 0 0;
}

.footer-col {
	/* width: 15rem; */
	padding: .5em 0;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #ff0000;
	height: 2px;
	box-sizing: border-box;
	width: 40px;
}

.footer-col h4:hover:before {
	width: 100%;
	transition: all 0.5s ease-in-out;
}

/* .footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
} */

.footer-col ul li {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	transition: all 0.3s ease;
	color: #ff0000;
}
.terms-col ul li {
	font-size: 14px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.terms-col ul li a:hover {
	transition: all 0.3s ease;
	color: #ff0000;
}

.social-links a:hover {
	color: #ff0000;
	transition: all 0.3s ease;
}

.social-links a {
	color: #bbbbbb;
	font-size: 35px;
}

/* .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
} */
/* .footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
} */

/*responsive*/
@media(min-width: 768px) {
	/* .footer-col p {
		width: 50%;
	} */
	.footer {
		padding: 30px 0;
	}
	.social-links a{
		font-size: 30px;
	}
	.terms-col ul li {
		font-size: 12px;
		padding-right: 1rem;
	}
	.terms-col ul li:not(:first-child) {
		border-left: 2px solid #808080;
		padding: 0 1rem;
	}
}

@media(max-width: 574px) {
	.footer-col ul li {
		padding: 5px 0;
		width: 50%;
	}
}

#d1 {
	color: #ffffff;
}